body {
  font-family: "Work Sans", sans-serif;
  margin: 0;
  background-color: grey;
}

header {
  background-color: black;
}

h1 {
  font-family: "Oswald", sans-serif;
  text-align: center;
  color: white;
  margin: 0;
  padding: 0.5em;
}

#form-container {
  background-color: white;
  margin: 1em;
  margin-top: 1em;
  padding: 1em;
  display: grid;
  grid-template-columns: 1fr;
}

fieldset {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#rgboutput {
  background-color: red;
  margin: 1em;
  height: 4em;
}

@media (min-width: 600px) {
  #form-container {
    grid-template-columns: 1fr 1fr;
    width: 30em;
    margin: auto;
    margin-top: 1em;
  }
}
