body {
  font-family: "Work Sans", sans-serif;
  margin: 0;
  background-color: grey;
}

header {
  background-color: black;
}

h1 {
  font-family: "Oswald", sans-serif;
  text-align: center;
  color: white;
  margin: 0;
  padding: 0.5em;
}

#feedback {
  text-align: center;
  padding: 1em;
  position: sticky;
  top: 0;
  z-index: 1;
  animation: fade-out 3s forwards;
}

@keyframes fade-out {
  90% {
    opacity: 0.8;
  }
  100% {
    opacity: 0;
  }
}

.create-container {
  text-align: center;
}

#new-post-btn,
#new-user-btn {
  padding: 0.5em;
  border-radius: 1em;
  border: none;
  color: white;
  background-color: black;
}

#new-post-btn:hover,
#new-user-btn:hover {
  cursor: pointer;
  box-shadow: 0 8px 16px 0 black;
}

#grid-posts,
#grid-users {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1em;
  padding: 1em;
  margin: auto;
  justify-self: center;
}

.grid-item {
  box-shadow: 1px 1px 8px var(--black-shadow);
  padding: 1.5em;
  background-color: white;
  transition: 0.5s;
  border-radius: 2em;
  text-align: center;
}

.grid-item:hover {
  box-shadow: 0 8px 16px 0 black;
  animation: zoom-in 0.3s forwards;
}

@keyframes zoom-in {
  100% {
    transform: scale(1.03);
  }
}

.grid-item > img,
/* .grid-item > h2, */
.grid-item > button {
  cursor: pointer;
}

.grid-item > button {
  text-align: center;
  padding: 0.5em 1em 0.5em;
  cursor: pointer;
  background-color: black;
  color: white;
  font-weight: bolder;
  border: none;
  border-radius: 1em;
}

.grid-item > button:hover {
  box-shadow: 0 8px 16px 0 black;
}

@media (min-width: 600px) {
  #grid-posts,
  #grid-users {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 992px) {
  #grid-posts,
  #grid-users {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (min-width: 1200px) {
  #grid-posts,
  #grid-users {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
@media (min-width: 1500px) {
  #grid-posts,
  #grid-users {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}

.grid-item img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

#no-data {
  text-align: center;
  color: white;
}

.section-name {
  text-align: center;
  color: white;
}

.hidden {
  display: none;
}

#formcreate {
  display: grid;
  grid-template-columns: 1fr 2fr;
  row-gap: 1em;
  column-gap: 1em;
  padding: 1em;
}

#modal-post-create {
  border: none;
  border-radius: 1em;
}

#fcancel-btn,
#fcreate-btn {
  justify-self: center;
  padding: 0.4em 0.7em 0.4em 0.7em;
  border-radius: 0.8em;
  font-weight: bold;
  cursor: pointer;
  background-color: black;
  color: white;
}

#modal-post-create > h2 {
  text-align: center;
}

#formcreate > input {
  width: 15vw;
}

#fbutton {
  padding-top: 1em;
  grid-column: 1 / span 2;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
